<html>
    <head>
        <title>
            My HTML Page
        </title>
        <style>

        </style>
    </head>
    <body >
        <h1>This is a static webpage served by Node.js</h1>
        <h2>Created by Aditya Rajbhoj</h2>
        <h3>TE-IT A</h3>
        <h3>35063</h3>
    </body>
</html>